In [1]:
# Name - Supreeth Hassan Ravindra
# CWID - 20020533
# KDD HW Assignment 4 - NB 
#(Implemented in Python)

In [2]:
#importing the required libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import CategoricalNB
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

In [3]:
df=pd.read_csv("breast-cancer-wisconsin.csv") #Loading the dataset
df= pd.DataFrame(df) 
df.head() #Displaying first 5 records

    Sample  F1  F2  F3  F4  F5  F6  F7  F8  F9  Class
0  1000025   5   1   1   1   2   1   3   1   1      2
1  1002945   5   4   4   5   7  10   3   2   1      2
2  1015425   3   1   1   1   2   2   3   1   1      2
3  1016277   6   8   8   1   3   4   3   7   1      2
4  1017023   4   1   1   3   2   1   3   1   1      2

In [4]:
#Summary of the dataset
summary = df.describe()
print(summary)

             Sample          F1          F2          F3          F4  \
count  6.990000e+02  699.000000  699.000000  699.000000  699.000000
mean   1.071704e+06    4.417740    3.134478    3.207439    2.806867
std    6.170957e+05    2.815741    3.051459    2.971913    2.855379
min    6.163400e+04    1.000000    1.000000    1.000000    1.000000
25%    8.706885e+05    2.000000    1.000000    1.000000    1.000000
50%    1.171710e+06    4.000000    1.000000    1.000000    1.000000
75%    1.238298e+06    6.000000    5.000000    5.000000    4.000000
max    1.345435e+07   10.000000   10.000000   10.000000   10.000000

               F5          F7          F8          F9       Class
count  699.000000  699.000000  699.000000  699.000000  699.000000
mean     3.216023    3.437768    2.866953    1.589413    2.689557
std      2.214300    2.438364    3.053634    1.715078    0.951273
min      1.000000    1.000000    1.000000    1.000000    2.000000
25%      2.000000    2.000000    1.000000    1.000000    2.000000
50%      2.000000    3.000000    1.000000    1.000000    2.000000
75%      4.000000    5.000000    4.000000    1.000000    4.000000
max     10.000000   10.000000   10.000000   10.000000    4.000000

In [5]:
df=df[df != '?'].dropna()  # drops NaN values 
print(df[df.isna().any(axis=1)]) # shows NaN values in data frame if it exists

Empty DataFrame
Columns: [Sample, F1, F2, F3, F4, F5, F6, F7, F8, F9, Class]
Index: []

In [6]:
# Splitting the dataset
X = df.drop(columns = ['Class'])    #feature(attributes)
y = df['Class']      #target variable
X.head(30)

     Sample  F1  F2  F3  F4  F5  F6  F7  F8  F9
0   1000025   5   1   1   1   2   1   3   1   1
1   1002945   5   4   4   5   7  10   3   2   1
2   1015425   3   1   1   1   2   2   3   1   1
3   1016277   6   8   8   1   3   4   3   7   1
4   1017023   4   1   1   3   2   1   3   1   1
5   1017122   8  10  10   8   7  10   9   7   1
6   1018099   1   1   1   1   2  10   3   1   1
7   1018561   2   1   2   1   2   1   3   1   1
8   1033078   2   1   1   1   2   1   1   1   5
9   1033078   4   2   1   1   2   1   2   1   1
10  1035283   1   1   1   1   1   1   3   1   1
11  1036172   2   1   1   1   2   1   2   1   1
12  1041801   5   3   3   3   2   3   4   4   1
13  1043999   1   1   1   1   2   3   3   1   1
14  1044572   8   7   5  10   7   9   5   5   4
15  1047630   7   4   6   4   6   1   4   3   1
16  1048672   4   1   1   1   2   1   2   1   1
17  1049815   4   1   1   1   2   1   3   1   1
18  1050670  10   7   7   6   4  10   4   1   2
19  1050718   6   1   1   1   2   1   3   1   1
20  1054590   7   3   2  10   5  10   5   4   4
21  1054593  10   5   5   3   6   7   7  10   1
22  1056784   3   1   1   1   2   1   2   1   1
24  1059552   1   1   1   1   2   1   3   1   1
25  1065726   5   2   3   4   2   7   3   6   1
26  1066373   3   2   1   1   1   1   2   1   1
27  1066979   5   1   1   1   2   1   2   1   1
28  1067444   2   1   1   1   2   1   2   1   1
29  1070935   1   1   3   1   2   1   1   1   1
30  1070935   3   1   1   1   1   1   2   1   1

In [7]:
y.head()

0    2
1    2
2    2
3    2
4    2
Name: Class, dtype: int64

In [8]:
# Split the data into training (70%) and testing (30%) sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=123)

In [9]:
# Train a Naïve Bayes classifier (Categorical Naïve Bayes)
nb_model = CategoricalNB()
nb_model.fit(X_train,y_train)

CategoricalNB()

In [10]:
# Predict the diagnosis on the test data
predictions = nb_model.predict(X_test)

In [11]:
# Compute the confusion matrix
confusion_mat = confusion_matrix(y_test, predictions)

# Compute the classification report
classification_rep = classification_report(y_test, predictions)

# Calculate the accuracy
accuracy = accuracy_score(y_test, predictions)
print("The accuracy of model is ")
print((accuracy*100))

# Calculate the error rate
error_rate = 1 - accuracy

# Print the confusion matrix, classification report, and error rate
print("\n\nConfusion Matrix:")
print(confusion_mat)
print("\nClassification Report:")
print(classification_rep)
print("\nError Rate:", error_rate)

The accuracy of model is
98.53658536585365


Confusion Matrix:
[[129   3]
 [  0  73]]

Classification Report:
              precision    recall  f1-score   support

           2       1.00      0.98      0.99       132
           4       0.96      1.00      0.98        73

    accuracy                           0.99       205
   macro avg       0.98      0.99      0.98       205
weighted avg       0.99      0.99      0.99       205


Error Rate: 0.014634146341463428